name: Azure Pipelines
trigger:
  branches:
    include:
      - main
      - master
variables:
  python.version: "3.7.6"
stages:
  - stage: Infrastructure
    variables:
      - group: terraform
    jobs:
      - job: Terraform
        pool:
          vmImage: "ubuntu-18.04"
        steps:
          - task: DownloadSecureFile@1
            name: tfvars
            displayName: "Download variable definitions (.tfvars) file"
            inputs:
              secureFile: "terraform.tfvars"
          - task: InstallSSHKey@0
            inputs:
              knownHostsEntry: "AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBAIOp1HNUkRCW742UW58dbvCOLEMjyUDyf48rct62McrFsOp1RCuHwdAI8ATPIsM3PX+ECb1c8r3Oiz/15WzyfM="
              sshPublicKey: "$(myPubKey)"
              sshKeySecureFile: "id_rsa"
          - task: Bash@3
            displayName: "Create Resources"
            inputs:
              targetType: "inline"
              script: |
                cd $(System.DefaultWorkingDirectory)/terraform/environments/test
                cp $(tfvars.secureFilePath) .
                export ARM_ACCESS_KEY=$(AccessKey)
                terraform init
                terraform plan -out "terraform.plan" -var="public_key_file=/home/vsts/work/_temp/id_rsa.pub"
                terraform apply "terraform.plan"
  - stage: Build
    jobs:
      - job: Build
        pool:
          vmImage: "ubuntu-18.04"
        steps:
          - task: ArchiveFiles@2
            displayName: "Archive FakeRestAPI"
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)/fakerestapi"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip"
          - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
            displayName: "Upload Package"
            artifact: drop-fakerestapi
  - stage: Deploy
    jobs:
      - deployment: FakeRestAPI
        pool:
          vmImage: "ubuntu-18.04"
        environment: $(environment-name)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  displayName: "Deploy Azure Web App"
                  inputs:
                    azureSubscription: "$(arm-service-connection-name)"
                    appName: "$(app-service-name)"
                    appType: webApp
                    package: $(Pipeline.Workspace)/drop-fakerestapi/$(Build.BuildId)-fakerestapi.zip
      - deployment: VMDeploy
        displayName: Selenium
        environment:
          name: $(environment-name)
          resourceType: VirtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - task: Bash@3
                  inputs:
                    targetType: "inline"
                    script: |
                      #! /bin/bash
                      sudo apt-get install software-properties-common -y
                      sudo apt-add-repository universe -y
                      sudo apt-get upgrade -y
                      sudo apt-get install python3-pip -y
                      sudo apt-get install unzip -y
                      sudo apt-get install -y chromium-browser
                      sudo apt-get install -y chromium-chromedriver
                      python3 -m pip install --upgrade pip
                      pip3 install selenium

  - stage: Test
    variables:
      - name: postman_dir
        value: $(System.DefaultWorkingDirectory)/automatedtesting/postman
      - name: selenium_dir
        value: $(System.DefaultWorkingDirectory)/automatedtesting/selenium
      - name: jmeter_dir
        value: $(System.DefaultWorkingDirectory)/automatedtesting/jmeter
      - name: jmeter_log_dir
        value: $(Build.ArtifactStagingDirectory)/jmeter_logs
      - name: selenium_log_dir
        value: $(Build.ArtifactStagingDirectory)/selenium_logs
      - name: jmeter_app_name
        value: apache-jmeter-5.4.3
    jobs:
      - job: Postman
        displayName: API-integration Tests
        continueOnError: true
        pool:
          vmImage: "ubuntu-20.04"
        steps:
          - bash: |
              newman run "$POSTMAN_DIR/regression_test_suite.postman_collection.json" -e "$POSTMAN_DIR/my.postman_environment.json" --reporters cli,junit --reporter-junit-export "$SYSTEM_DEFAULTWORKINGDIRECTORY/report.xml" --suppress-exit-code
            displayName: Run Regression Test Suite
            continueOnError: true
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "**/report.xml"
              testRunTitle: "Integration Tests"
            continueOnError: true
          - bash: |
              newman run "$POSTMAN_DIR/data_validation_test_suite.postman_collection.json" -e "$POSTMAN_DIR/my.postman_environment.json" --suppress-exit-code
            displayName: Run Data Validation Test Suite
      - deployment: Selenium
        displayName: Functional UI Test
        continueOnError: true
        environment:
          name: $(environment-name)
          resourceType: VirtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: Bash@3
                  inputs:
                    targetType: "inline"
                    script: |
                      #! /bin/bash
                      cd "$SELENIUM_DIR"
                      mkdir $SELENIUM_LOG_DIR
                      python3 login.py > $SELENIUM_LOG_DIR/functional-tests-$BUILD_BUILDID.log
                - task: PublishPipelineArtifact@1
                  inputs:
                    targetPath: "$(selenium_log_dir)/functional-tests-$BUILD_BUILDID.log"
                    artifact: "selenium-logs"
                    publishLocation: "pipeline"
      - job: JMeter
        displayName: Performance Tests
        continueOnError: true
        pool:
          vmImage: "ubuntu-20.04"
        steps:
          - bash: |
              mkdir $JMETER_LOG_DIR
            displayName: Create Jmeter log directory
          - bash: |
              curl -O https://archive.apache.org/dist/jmeter/binaries/$JMETER_APP_NAME.tgz
              tar -xvf $JMETER_APP_NAME.tgz
            displayName: Install JMeter
          - task: Bash@3
            displayName: Run Stress Tests
            inputs:
              targetType: "inline"
              script: |
                $JMETER_APP_NAME/bin/jmeter \
                  -n \
                  -t $JMETER_DIR/stress-tests.jmx \
                  -l $JMETER_LOG_DIR/stress-tests-result.csv \
                  -e -f -o $JMETER_LOG_DIR/stress-tests-report.html \
                  -j $JMETER_LOG_DIR/stress-tests-run.log
          - task: Bash@3
            displayName: Run Endurance Tests
            inputs:
              targetType: "inline"
              script: |
                $JMETER_APP_NAME/bin/jmeter \
                  -n \
                  -t $JMETER_DIR/endurance-tests.jmx \
                  -l $JMETER_LOG_DIR/endurance-tests-result.csv \
                  -e -f -o $JMETER_LOG_DIR/endurance-tests-report.html \
                  -j $JMETER_LOG_DIR/endurance-tests-run.log
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "$(jmeter_log_dir)"
              artifact: "jmeter-logs"
              publishLocation: "pipeline"
